<ng-container *appUnpack="viewedRecipe$ as recipe">
  <mat-card>
    <mat-card-title>{{recipe.title}}</mat-card-title>
    <mat-card-subtitle>{{recipe.authors}}</mat-card-subtitle>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Recipe">
          <p *ngFor="let paragraph of recipe.text"
             class="mat-body">
            {{paragraph}}
          </p>
        </mat-tab>
        <mat-tab label="Ingredients">
          <table mat-table 
                 class="recipe-detail-table" 
                 [dataSource]="recipe.ingredients">
            <ng-container [matColumnDef]="IngredientColumn.Name">
              <th mat-header-cell *matHeaderCellDef>Ingredient</th>
              <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>

            <ng-container [matColumnDef]="IngredientColumn.Amount">
              <th mat-header-cell *matHeaderCellDef>Amount</th>
              <td mat-cell *matCellDef="let row">
                <ng-container>{{row.amount | ratio}}</ng-container>
                <ng-container *ngIf="row.unit">&thinsp;{{row.unit}}</ng-container>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="ingredientColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: ingredientColumns;"></tr>
          </table>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</ng-container>
