<table mat-table [dataSource]="authorRows$ | async" 
       class="authors-table mat-elevation-z8">
  <ng-container [matColumnDef]="AuthorsColumn.Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let row">{{row.name}}</td>
  </ng-container>

  <ng-container [matColumnDef]="AuthorsColumn.Email">
    <th mat-header-cell *matHeaderCellDef>E-mail</th>
    <td mat-cell *matCellDef="let row">{{row.email}}</td>
  </ng-container>

  <ng-container [matColumnDef]="AuthorsColumn.Skill">
    <th mat-header-cell *matHeaderCellDef>Skill</th>
    <td mat-cell *matCellDef="let row">{{row.skill}}</td>
  </ng-container>

  <ng-container [matColumnDef]="AuthorsColumn.Recipes">
    <th mat-header-cell *matHeaderCellDef>Recipes</th>
    <td mat-cell *matCellDef="let row">
      <ng-container *ngFor="let recipe of row.recipes; let last = last">
        <a [routerLink]="['/' + RoutePath.Recipes, recipe.id]">{{recipe.title}}</a>
        <ng-container *ngIf="!last">,</ng-container>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"  appSkill={{row.skill}}></tr>
</table>