.recipes {
  display: flex;
  flex-wrap: wrap;
}

.recipes-card {
  width: 360px;
  height: 420px;
  cursor: pointer;

  &:not(:nth-child(3n)) {
    margin: 0 60px 60px 0;
  }
}

.recipes-card-image {
  object-fit: cover;
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}

.recipes-card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipes-card-authors {
  color: #999999;
}

.recipes-about {
  margin-top: 40px;
}

.recipes-about-paragraph {
  margin: 10px 0;
}