<mat-card class="author-form mat-elevation-z0">
  <mat-card-title>
    <ng-container *ngIf="dialogData.authorId; else newAuthorTitle">Edit Author</ng-container>
    <ng-template #newAuthorTitle>New Author</ng-template>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="authorForm" (ngSubmit)="submitAuthor()">
      <mat-form-field class="author-form-field">
        <input matInput
               type="text"
               placeholder="Name"
               [formControlName]="AuthorFormKey.Name">
      </mat-form-field>
      <mat-form-field class="author-form-field">
        <input matInput
               type="text"
               placeholder="Email"
               [formControlName]="AuthorFormKey.Email">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="author-form-actions">
    <button mat-raised-button
            color="warn"
            type="button"
            (click)="closeDialog()">
      Cancel
    </button>
    <button mat-raised-button
            color="primary"
            type="submit"
            (click)="submitAuthor()"
    >
      Submit
    </button>
  </mat-card-actions>
</mat-card>