<mat-toolbar color="primary" 
             [ngClass]="{'mat-elevation-z2': toolbarRaised$ | async}">
  <div class="toolbar-content">
    <div class="toolbar-section">
      <div class="toolbar-heading">Recipe Book</div>
      <button mat-button class="toolbar-link" [routerLink]="RoutePath.Recipes">Recipes</button>
      <button mat-button class="toolbar-link" [routerLink]="RoutePath.Authors">Authors</button>
    </div>
    <div class="toolbar-section">
      <button mat-raised-button (click)="showNewRecipeDialog()">New recipe</button>
      <button mat-raised-button (click)="showNewAuthorDialog()">New author</button>
    </div>
  </div>
</mat-toolbar>