.toolbar-heading {
  background: url('../../../assets/pasta.svg') left center no-repeat;
  background-size: contain;
  padding-left: 80px;
  margin-right: 30px;
}

.toolbar-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.toolbar-section {
  display: flex;
}

.toolbar-link {
  margin-left: 10px;
}


.mat-raised-button{
  margin: 0 5px;
}